@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
html, body{
    height: 100vh;/*altura total*/
    width: 100vw;/*largura total*/
    background-color: black;
}
body{
    background: url('../imagens/imagens/fundo-madeira.jpg')  no-repeat top center;
    background-size: cover;/* faz o bacground  cobrir a tela inteira*/
    background-attachment: fixed;/* faz ficar sem rolagem*/
}
main{
    height: 100vh;
    position: relative;/*centralizar o telefone*/
    

}
section#telefone{
    position: absolute;/*cetralizar o telefone*/
    top: 50%;/*serve para centralizar a o telefone*/
    left: 50%;/*serve para centralizar a o telefone*/
    transform: translate(-50%, -50%);/*serve para centralizar a o telefone*/
    height: 627px;
    width: 311px;
    
    background-image: url('../imagens/imagens/frame-iphone.png');
    background-repeat: no-repeat;


}
