@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
html, body{
    height: 100vh;/*altura total*/
    width: 100vw;/*largura total*/
    background-color: black;
}
body{
    background: url('../imagens/imagens/fundo-madeira.jpg')  no-repeat top center;
    background-size: cover;/* faz o bacground  cobrir a tela inteira*/
    background-attachment: fixed;/* faz ficar sem rolagem*/
}
main{
    height: 100vh;
    position: relative;/*centralizar o telefone*/
    

}
section#telefone{
    position: absolute;/*cetralizar o telefone*/
    top: 50%;/*serve para centralizar a o telefone*/
    left: 50%;/*serve para centralizar a o telefone*/
    transform: translate(-50%, -50%);/*serve para centralizar a o telefone*/
    height: 627px;
    width: 311px;
    
    background-image: url('../imagens/imagens/frame-iphone.png');
    background-repeat: no-repeat;


}
iframe#tela{/*tudo isso configura tela do celular*/
    position: relative;
    top: 80px;
    left: 22px;
    right: 22px;
    width: 267px ;
    height: 472px;


}
section#redes-sociais{
    text-align: right;/*faz as logos passarem para o lado direito*/


}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50px;/*arredonda as logos*/
    box-shadow: 2px 2px 5px black ;
    box-sizing: border-box;/*tira defeito da borda criada nas logos*/

}
section#redes-sociais img:hover{
    border: 2px solid rgba(248, 247, 245, 0.705);/*coloca bordas nas logos*/
    transform: translate(-3px, -3px);/*dá um efeito de movintar a logo pra frente*/
    box-shadow: 2px 2px 6px rgba(223, 34, 34, 0.534);/*sombra na logo*/
    transition-duration: .3s ;
    
}

